div.DraftEditor-root {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    width:100%;
    margin:auto;
    height:75px;
    overflow-y: none;
    padding:2px;
    font-size: 16px;
    font-family: 'calibri', sans-serif;
  }
