div.DraftEditor-root {
    background-color: #ffffff;
    width:100%;
    margin:auto;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5);
    height:150px;
    overflow-y: none;
    padding:2px;
    font-size: 18px;
    font-family: 'calibri', sans-serif;
  }